[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
# 指定 Python 版本为 3.10
python_version = "3.10"

[packages]
# FastAPI 应用依赖
fastapi = "*"
uvicorn = "*"
mangum = "*"

[dev-packages] 